@font-face{
    font-family: 'CHfont';
    src: url(../../../../fonts/匯文明朝體.otf) format('opentype');
    font-weight: normal;
    font-size: normal;
}
@font-face{
    font-family: 'ENfont';
    src: url(../../../../fonts/IMFellEnglish-Italic.ttf) format('opentype');
    font-weight: normal;
    font-size: normal;
}
body{
    background-color: black;
    font-family: 'CHfont', sans-serif;
    color:rgb(152, 97, 97);
    position: relative;
    
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.upperlayer{
    display: flex;
    flex-direction: row;
}
@media (max-width: 798px) {
    .upperlayer{
        display: flex;
        flex-direction: column;
    }
    .Intro{
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 150%;
    padding: 5%;
    text-align: center;
    }
    
}
.Intro{
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 150%;
    padding: 5%;
}

.Character{
    display: flex;
    flex: 1;
    padding-top: 5%;
    align-items: center;

}
#Name{
    font-family: 'ENfont', sans-serif;
    font-size: 200%;

}
#Liviaimg {
    max-width: 80%;
    max-height: 80%;
}