@font-face{
    font-family: 'CHfont';
    src: url(../fonts/匯文明朝體.otf) format('opentype');
    font-weight: normal;
    font-size: normal;
}
@font-face{
    font-family: 'ENfont';
    src: url(../fonts/IMFellEnglish-Italic.ttf) format('opentype');
    font-weight: normal;
    font-size: normal;
}
body{
    background-image: linear-gradient(to left, #242424, #464646, #191919);
    font-family: 'CHfont', sans-serif;
    color:rgb(33, 33, 33);
    position: relative;
    
}