body{
    display: flex;
    position: relative;
    background-color: #F3F3F3;
    font-family: 'italiana', serif;
    font-weight: 400;
    flex-direction: column;
    
}
.Wording{
    text-align: left;
    margin: 2%;
}
#Title{
    font-size: 500%;
    color: #C9C9C9;
    white-space: nowrap;
    letter-spacing: 5px;
    margin: 0%;
}
#secondline{
    font-size: 150%;
    color: #B8B8B8;
    letter-spacing: 5px;
    text-align: left;
}
.labimg{
    justify-content: right;
    size: 50%;
}
#labimg{
    justify-content: right;
    size: 10%;
}

#startbutton{
    background: none;
    border: none;
    margin: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    size: 80%;

}
